<!--
<div class="btn-group" role="group" aria-label="Basic example">
  <div style="font-size:1.5em; color:green">
    <i class="fa fa-file-excel-o" (click)="exportCSV();"></i>
  </div>
  &nbsp;
  <div style="font-size:1.5em; color:red">
    <i class="fa fa-file-pdf-o" (click)="exportCSV();"></i>
    <br>

  </div>

</div>
-->
<div class="btn-group" role="group" aria-label="Basic example">
    <button nbButton status="primary" size="tiny" (click)="exportCSV();">CSV</button>
    <button nbButton status="primary" size="tiny" (click)="exportCSV();">PDF</button>
</div>