// @nebular theming framework
@import '~@nebular/theme/styles/theming';
// @nebular out of the box themes
@import '~@nebular/theme/styles/themes';

$nb-themes: nb-register-theme((layout-padding-top: 2.25rem,

    menu-item-icon-margin: 0 0.5rem 0 0,

    card-height-tiny: 13.5rem,
    card-height-small: 21.1875rem,
    card-height-medium: 28.875rem,
    card-height-large: 36.5625rem,
    card-height-giant: 44.25rem,
    card-margin-bottom: 1.875rem,
    card-header-with-select-padding-top: 0.5rem,
    card-header-with-select-padding-bottom: 0.5rem,

    select-min-width: 6rem,

    slide-out-background: #f7f9fc,
    slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
    slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,

    //custom changes
    smart-table-header-bg:color-info-400,
    smart-table-header-fg:color-basic-100,
    smart-table-header-font-weight:text-heading-1-font-weight,
    card-header-primary-background-color:color-info-400,
    header-background-color: #1C2B36,
    header-height:3rem,
    header-padding:0.5rem,
    foooter-height:3rem,
    footer-padding:0.5rem,
    link-text-focus-color:#1C2B36,
    link-text-hover-color:#1C2B36,
    card-header-text-line-height:0.2rem,
    smarrt-table-header-line-height:100%,
    font-family-primary: unquote('Playfair Display, sans-serif'),
    smart-table-header-font-size:0.75rem,
    smart-table-font-size:0.75rem,
    smart-table-header-line-height:0.75rem,
    smart-table-line-height:0.1rem,
    tabset-tab-active-text-color:white,
    tabset-tab-active-underline-color:#1C2B36,
    tabset-tab-text-line-height:0.75rem,
    tabset-tab-text-font-size:0.75rem,
    text-paragraph-font-size:.75rem,
    tabset-tab-padding: .5rem .75rem,
    scrollbar-width:0.5rem,
    tabset-tab-active-background-color:color-info-400,
    divider-color:border-basic-color-5,
  ), default, default);

$nb-themes: nb-register-theme((layout-padding-top: 2.25rem,

    menu-item-icon-margin: 0 0.5rem 0 0,

    card-height-tiny: 13.5rem,
    card-height-small: 21.1875rem,
    card-height-medium: 28.875rem,
    card-height-large: 36.5625rem,
    card-height-giant: 44.25rem,
    card-margin-bottom: 1.875rem,
    card-header-with-select-padding-top: 0.5rem,
    card-header-with-select-padding-bottom: 0.5rem,

    select-min-width: 6rem,

    slide-out-background: #252547,
    slide-out-shadow-color: 2px 0 3px #29157a,
    slide-out-shadow-color-rtl: -2px 0 3px #29157a,
  ), cosmic, cosmic);

$nb-themes: nb-register-theme((layout-padding-top: 2.25rem,

    menu-item-icon-margin: 0 0.5rem 0 0,

    card-height-tiny: 13.5rem,
    card-height-small: 21.1875rem,
    card-height-medium: 28.875rem,
    card-height-large: 36.5625rem,
    card-height-giant: 44.25rem,
    card-margin-bottom: 1.875rem,
    card-header-with-select-padding-top: 0.5rem,
    card-header-with-select-padding-bottom: 0.5rem,

    select-min-width: 6rem,

    slide-out-background: linear-gradient(270deg, #edf1f7 0%, #e4e9f2 100%),
    slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
    slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
  ), corporate, corporate);

$nb-themes: nb-register-theme((layout-padding-top: 2.25rem,

    menu-item-icon-margin: 0 0.5rem 0 0,

    card-height-tiny: 13.5rem,
    card-height-small: 21.1875rem,
    card-height-medium: 28.875rem,
    card-height-large: 36.5625rem,
    card-height-giant: 44.25rem,
    card-margin-bottom: 1.875rem,
    card-header-with-select-padding-top: 0.5rem,
    card-header-with-select-padding-bottom: 0.5rem,

    select-min-width: 6rem,

    slide-out-background: linear-gradient(270deg, #222b45 0%, #151a30 100%),
    slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
    slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
  ), dark, dark);
