<nb-card>
  <nb-card-header class="bg-primary text-white">
    Roles
    <span class="float-right">
      <a class="text-white"  routerLink="/pages/security/maintainrole" routerLinkActive="active">Create Role</a>
    </span>
  </nb-card-header>

  <nb-card-body>
    <div class="float-right">
      <export-table [source]="source" [settings]="settings" ></export-table>
    </div>
    <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>